body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main_header {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;

    background-color: #f3f7f9;
}

.header_top {
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.header_top .logo {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

.header_top .logo:hover,
.header_top .logo:focus {
    color: #ffffff;

    background-color: #ca2c37;
}

.header_top .logo:active {
    color: #ffffff;

    background-color: #ba2732;
}

.search_form input[type="search"] {
    font: inherit;
    color: #ffffff;

    background: inherit;
    border: none;
}

.search_form input[type="search"]::placeholder {
    color: #ffffff;
    opacity: 1;
}

.search_form input[type="search"]:-ms-input-placeholder {
    color: #ffffff;
}

.search_form input[type="search"]::-ms-input-placeholder {
    color: #ffffff;
}

.search_form input[type="search"]:hover {
    color: #ffffff;

    background-color: #212a3a;
}

.search_form input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
    outline: none;
}

.shopping a {
    color: #ffffff;
}

.shopping a:last-child {
    color: #ffffff;

    background-color: #63a63e;
}

.shopping a:hover,
.shopping a:focus {
    color: #ffffff;

    background-color: #212a3a;
}

.shopping a:active {
    color: #ffffff;

    background-color: #161d29;
}

.shopping a:last-child:hover,
.shopping a:last-child:focus {
    color: #ffffff;

    background-color: #5fbb2d;
}

.shopping a:last-child:active {
    color: #ffffff;

    background-color: #518534;
}

.main_header .title {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
}

.contacts .phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.contacts .adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user_navigation .item {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}



.main_navigation a {
    color: #ffffff;

    background-color: #32425c;
}

.main_navigation a:hover,
.main_navigation a:focus {
    color: #ffffff;

    background-color: #293449;
}

.main_navigation a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.user_navigation .item:hover,
.user_navigation .item:focus {
    color: #ee3643;
}

.user_navigation .item:active {
    color: rgba(0, 0, 0, 0.3)
}

.user_name {
    color: #000000;

    background-color: #ffffff;
}

.user_name a:first-child {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

.user_name a:first-child:active {
    color: rgba(0, 0, 0, 0.3);
}

.user_profile .user_menu {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: #32425c;
}

.user_profile .user_menu:hover,
.user_profile .user_menu:focus {
    color: #ee3643;
}

.user_profile .user_menu:active {
    color: rgba(50, 66, 92, 0.3);
}

.list {
    list-style: none;
}

.button {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ff5357;
    border: none;
}

.button:hover,
.button:focus {
    color: #ffffff;

    background-color: #ca2c37;
}

.button:active {
    color: #ffffff;

    background-color: #ba2732;
}

.promo_list p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.promo_list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
}

.promo_list a:hover,
.promo_list a:focus {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.2);
}

.promo_list a:active {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
}

.categories li:first-child {
    color: #ffffff;

    background-color: #ffbf47;
}

.categories li:nth-child(2) {
    color: #ffffff;

    background-color: #3bbce3;
}

.categories li:last-child {
    color: #ffffff;

    background-color: #dc91d8;
}

.slide {
    color: #ffffff;

    background-color: #000000;
}

.advantages li:first-child {
    color: #ffffff;

    background-color: #8ed78f;
}

.advantages li:last-child {
    color: #ffffff;

    background-color: #ffc047;
}

.header {
    color: #32425c;

    background-color: #f9f5f0;
}

.header h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.product_title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
}

.old_price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;
    text-decoration: line-through;
}

.price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ee3643;
}

.buy {
    color: #ffffff;

    background-color: #63a63e;
}

.buy:hover,
.buy:focus {
    color: #ffffff;

    background-color: #5fbb2d;
}

.buy:active {
    color: #ffffff;

    background-color: #518534;
}

.mark {
    color: #32425c;

    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.mark:hover,
.mark:focus {
    color: #32425c;

    background-color: #ffffff;
    border: 3px solid #32425c;
}

.mark:active {
    color: rgba(50, 66, 92, 0.3);

    background-color: #ffffff;
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.product {
    border: 1px solid #eaeaea;
}

.manufacturer {
    border: 1px solid #eaeaea;
}

.services {
    color: #000000;

    background-color: #f4f8f9;
}

.block_title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services_list .item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    background-color: #32425c;
}

.services_list .current {
    color: #32425c;

    background-color: #ffffff;
}

.services_list .item:hover:not(.current),
.services_list .item:focus:not(.current) {
    color: #ffffff;

    background-color: #293449;
}

.description_list h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
}

.transport_companies_list {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}

.main_footer {
    color: white;

    background-color: #32425c;
}

.main_footer .logo {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

.main_footer .footer_contacts {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f3f7f9;
}

.footer_contacts .phone {
    color: inherit;
}

.navigation .item {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f3f7f9;
}

.navigation .second_string {
    color: #ffd180;
}

.navigation .item:hover,
.navigation .item:focus {
    text-decoration: underline;
}

.navigation .item:not(.second_string):active {
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}

.navigation .second_string:active {
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}

.footer_bottom {
    color: #ffffff;

    background-color: #293449;
}

.footer_bottom {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.footer_bottom .link
{
    color: #ffd180;
}


.footer_bottom .link:hover,
.footer_bottom .link:focus {
    text-decoration: underline;
}

.footer_bottom .link:active {
    text-decoration: none;
    color: #ee3643;
}

.write_us {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

.gray_background {
    color: #000000;

    background-color: #f4f4f4;
}

.beige_background {
    color: #000000;

    background-color: #f7f3ec;
}


.form_write_us .form_field {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    border: 2px solid #dee3e4;
}

.form_write_us .form_field::placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.form_write_us .form_field:-ms-input-placeholder {
    color: #a9a9a9;
}

.form_write_us .form_field::-ms-input-placeholder {
    color: #a9a9a9;
}

.form_write_us .form_field:hover {
    border: 2px solid #b5b5b5;
}

.form_write_us .form_field:focus {
    border: 2px solid #ee3643;
    outline: none;
}

.breadcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.catalog_title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.section_title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    background-color: #f7f3ec;
}

.catalog_sort .item {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #ee3643;
}

.catalog_sort .current {
    color: #ee3643;

    border: none;
}

.catalog_sort .item:hover:not(.current),
.catalog_sort .item:focus:not(.current) {
    color: rgba(0, 0, 0, 1);

    border-bottom: 1px solid #ee3643; 
}

.catalog_filter fieldset {
    border: none;
}

.catalog_filter legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.catalog_filter .filter_option {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.catalog_filter input[type="number"] {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    background-color: #f7f3ec;
    border: none;
}

.catalog_filter button[type="submit"] {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.pagination_list a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination_list .current {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination_list a:hover:not(.current),
.pagination_list a:focus:not(.current) {
    border: 1px solid #bdc6ca;
}

.pagination_list a:active:not(.current) {
    border: 1px solid #ee3643;
}

.category_description {
    color: #000000;

    background-color: #f2f6f8;
}

.cart_success p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
}

.cart_success .back {
    color: #000000;

    background-color: #ffffff;
}

/* Сеточные стили */

.main_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 60px; */
}

.header_top {
    width: 100%;
    margin-bottom: 45px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

html p,
.list ,
.title,
.catalog_filter fieldset {
    margin: 0px;
    padding: 0px;
}

/* Как лучше обнулить отступы, которые добавляет браузер?  */

.header_top .container {
    display: flex;
}

.header_top .logo {
    width: 220px;
}

.search_form {
    width: 270px;
}

.shopping {
    width: 450px;
}

.main_header .container {
    display: flex;
}

.main_header .title {
    width: 300px;
}

.main_header .contacts {
    width: 270px;
}

.user_navigation {
    width: 300px;
}

.promo_block {
    display: flex;
    flex-direction: column;
    margin-top: 59px;
    margin-bottom: 53px;
}

.promo_list li {
    width: 300px;
}

.promo_block .main_slider {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 620px;
}

.promo_list.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo_block .container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.promo_list.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular_products .header {
    margin-bottom: 20px;
}

.popular_products .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popular_products .product {
    width: 220px;
}

.popular_manufacturers .header {
    margin-bottom: 20px;
}

.popular_manufacturers .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular_manufacturers .manufacturer {
    width: 220px;
    margin-bottom: 20px;
}

.popular_manufacturers {
    margin-bottom: 65px;
}

.services {
    width: 100%;
    margin-bottom: 77px;
    padding-top: 63px;
}

.container.double_column {
    display: flex;
    justify-content: space-between;
}

.about_company {
    width: 540px;
}

.double_column .contacts {
    width: 300px;
    margin-bottom: 86px;
}

.main_footer {
    width: 100%;
}
.main_footer .double_column {
    display: flex;
    justify-content: space-between;
}

.double_column .container {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.main_footer .logo {
    width: 220px;
}

.footer_contacts {
    width: 330px;
}

.main_footer .navigation {
    width: 550px;
}

.footer_bottom {
    width: 100%;
}

.footer_bottom .container {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.social {
    width: 160px;
}

.copyright {
    width: 230px;
}

.feedback {
    width: 140px;
}

.developed_by {
    width: 140px;
}

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalog_title {
    margin-bottom: 20px;
}

.container.shop {
    display: flex;
    justify-content: space-between;
}

.catalog_filter {
    width: 220px;
}

.products {
    width: 700px;
}

.catalog_sort {
    margin-bottom: 20px;
}

.catalog .list:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.catalog .product {
    width: 220px;
    margin-bottom: 20px;
}

.pagination_list {
    margin-bottom: 60px;
}

.category_description {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 73px;
}

.category_description .title {
    margin-bottom: 35px;
}